@font-face {
  font-family: odt2braille;
  src: url(odt2braille8.ttf);
}
body {
  line-height: 1.3;
  padding-right: 30px !important;
}
dl dd {
  margin-bottom: 0.5em;
}
.head dd {
  margin-bottom: 0;
}
.email::before {
  content: "<"
}
.email::after {
  content: ">"
}
em.rfc2119 {
  font-size: 120%;
}
.css::before,
.css-propname::before,
.css-propval::before {
  content: '‘';
}
.css::after,
.css-propname::after,
.css-propval::after {
  content: '’';
}
a.self-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}
a.self-link::before {
  position: absolute;
  opacity: 0;
  transition: opacity .2s;
}
a.self-link:hover::before {
  opacity: 1;
}
[role='heading'] > .secno > a.self-link::before {
  content: "§";
  font-size: 90%;
  top: -1px;
  left: -1em;
  width: 1em;
}
[role='heading']:hover > .secno > a.self-link::before {
  opacity: 1;
}
[role='heading'].issue-title > a.self-link::before {
  content: "§";
  font-size: 90%;
  top: -3px;
  left: -.8em;
  width: .8em;
  background-color: #fbe9e9;
}
dfn > a.self-link::before {
  content: "#";
  left: -0.8em;
  width: 0.7em;
  top: -2px;
  padding-left: 0.1em;
  background-color: white;
}
table.propdef dfn a.self-link::before {
  background-color: #def;
}
.example {
  margin: 1em 0;
  padding: .5em 1.2em;
  border-left-width: .5em;
  border-left-style: solid;
  border-color: #e0cb52;
  background-color: #fcfaee;
}
.example::before {
  content: "example";
  display: block;
  text-transform: uppercase;
  color: #b9ab2d;
}
.code {
  display: block;
  font-family: sans-serif;
  margin: 1em .5em;
  padding-bottom: 1px;
  border-left: 1px solid #e0cb52;
}
.code::before {
  display: inline-block;
  padding: .5em;
  border-top: 1px solid #e0cb52;
  text-transform: uppercase;
  font-size: 80%;
  color: #b9ab2d;
}
.code-css::before {
  content: "css";
}
.code-css.with-label[id] {
  position: relative;
}
.code-css.with-label[id]::after {
  content: attr(id);
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-family: monospace;
  color: #b9ab2d;
}
.code-css pre a {
  border-bottom: 1px dotted #0088cc;
  text-decoration: none;
}
.code-xml {
  max-height: 500px;
  overflow: auto;
}
.code-xml::before {
  content: "xml";
}
.code-pef {
  position: relative;
  line-height: normal;
}
.code-pef::before {
  content: "braille";
}
.code-pef pre {
  display: none;
}
.code-pef .test {
  position: absolute;
  top: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 7px;
  color: white;
  font-family: "Arial";
  font-size: 160%;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 8px;
  box-shadow: 0 1px rgba(255,255,255,.2) inset;
}
.code-pef .test-liblouis {
  right: 48px;
}
.code-pef .test-dotify {
  right: 5px;
}
.code-pef .test-liblouis::before {
  content: "L";
}
.code-pef .test-dotify::before {
  content: "D";
}
.code-pef .test-passed {
  background-color: #449900;
}
.code-pef .test-failed {
  background-color: #ee2200;
}
pef {
  display: block;
  margin: 0;
  padding: .2em .5em .5em 1em;
  line-height: 1;
  background-color: transparent;
  background-image: none;
}
pef page {
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  padding: 0.5em;
  margin: .5em 0 0 .5em;
  background-color: rgba(255, 255, 255, 0.7);
}
pef row {
  display: block;
  font-family: odt2braille;
  letter-spacing: 0px;
  font-size: 125%;
}
pef row[rowgap="1"] {
  height: 1.25em;
}
pef row[rowgap="2"] {
  height: 1.5em;
}
pef row[rowgap="3"] {
  height: 1.75em;
}
pef row[rowgap="4"] {
  height: 2em;
}
table.propdef {
  page-break-inside: avoid;
  width: 100%;
  margin: 1.2em 0;
  border-left: 0.5em solid #8ccbf2;
  padding: 0.5em 1em;
  background: #def;
  border-spacing: 0;
}
table.propdef th, table.propdef td {
  vertical-align: baseline;
  padding: 0.5em;
  border-bottom: 1px solid #bbd7e9;
}
table.propdef th {
  font-style: italic;
  font-weight: normal;
  width: 8.3em;
  padding-left: 1em;
  text-align: left;
}
table.propdef > tbody > tr:last-child th,
table.propdef > tbody > tr:last-child td {
  border-bottom: 0;
}
.note-title {
  display: none;
}
.note p,
.issue p {
  margin: 0 0 0.5em;
}
.note > .difference::before {
  display: block;
  content: 'Difference with CSS';
  color: #2b2;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.issue-title {
  margin-bottom: 14px;
}
.todo {
  margin: 1em 0;
  padding: 1em 1.2em;
  border-left: .5em solid #ffa500;
  background-color: #ffeecc;
}
.todo::before {
  display: inline;
  text-transform: uppercase;
  margin-right: 5px;
  content: "todo";
  color: #ff8800;
}
.braille {
  font-family: odt2braille;
  font-size: 125%;
}
